@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap');


body{
	font-family: "Titillium Web";
}

.wrapper{
	position: relative;
	z-index: 0;
}
.header {
	background: #87509c;
	position: sticky;
	top: 0;
	z-index: 1;
}
.header-container {
	max-width: 1440px;
	margin: 0 auto; 
	& .header__row {
		display: flex;
		height: 70px;
		justify-content: space-between;
		align-items: center;
	}
	& .header__logo {
		padding: 0 0 0 15px;
	}
	& .header__nav {
		& a {
			color: #fff;
			opacity: 0.8;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 16px;
			padding: 0 15px;
			&:hover{
				opacity: 1;
				border-bottom:1px solid #643a79;
			}
	}
	&_active {
		background-color: #643a79;
		border-radius: 3px;
	}
	}
}




.contentbg1 {
	background-color: #87509c;
}
.purple-content {
	display: flex;
	max-width: 906px;
	margin: 0 auto;
	flex-direction: column;
	& .purple-content__text {
		margin-top: 145px;
		font-size: 43px;
		color: #fff;
		line-height: 1.15;
		text-align: center;
		font-weight: bold;
		padding: 0 15px;
		}
	& .purple-content__button {
		text-transform: uppercase;
		font-size: 17px;
		text-decoration: none;
		width: 293px;
		height: 70px;
		background: #eb7d4b;
		text-align: center;
		margin: 54px auto 130px;
		padding: 27px 0;
		border-radius: 5px;
		box-shadow: 2px 5px 0 #555;
		transition: all 0.5s ease 0s;
		&:hover{
			box-shadow: none;
			background-color: #643a79;
			box-shadow: 1px 2px 0 #555;
			transition: all 2s ease 0s;
		}
		& a{
			color: #fff;
			font-weight: 500;
		}
}
}


.contentbg2 {
	background-color: #17c2a4;
}
.green-content {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 603px;
	&__title {
		font-size: 40px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		margin: 130px 0 0 0;
	}
	&__text{
		font-size: 18px;
		line-height: 1.44;
		color: #fff;
		text-align: center;
		margin: 0 0 85px 0;
		opacity: 0.9;
	}
}
.green-conten__line {
	height: 4px;
	width: 87px;
	background-color: #106656;
	border-radius: 2px;
	margin: 23px auto;
}



.vertical__body {
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
	& .vertical__row {
		display: flex;
		margin: 0 -45px;
		flex-wrap: wrap;
	}
	& .vertical__column {
		flex: 0 1 25%;
		padding: 0 45px;
		display: flex;
	}
	& .vertical__item {
		display: flex;
		flex-direction: column;
	}
	& .vertical__image img {
		display: block;
		margin: 0 auto;
	}
	& .vertical__title {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		color: #fff;
		padding: 30px 0;
	}
	& .vertical__text {
		font-size: 16px;
		text-align: center;
		color: #fff;
		opacity: 0.9;
		margin: 0 0 128px 0;
		flex: 1 1 auto;
	}
}