@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Titillium Web";
}

.wrapper {
  position: relative;
  z-index: 0;
}

.header {
  background: #87509c;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
}
.header-container .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-container .header__logo {
  padding: 0 0 0 15px;
}
.header-container .header__nav a {
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0 15px;
}
.header-container .header__nav a:hover {
  opacity: 1;
  border-bottom: 1px solid #643a79;
}
.header-container .header__nav_active {
  background-color: #643a79;
  border-radius: 3px;
}

.contentbg1 {
  background-color: #87509c;
}

.purple-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 906px;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.purple-content .purple-content__text {
  margin-top: 145px;
  font-size: 43px;
  color: #fff;
  line-height: 1.15;
  text-align: center;
  font-weight: bold;
  padding: 0 15px;
}
.purple-content .purple-content__button {
  text-transform: uppercase;
  font-size: 17px;
  text-decoration: none;
  width: 293px;
  height: 70px;
  background: #eb7d4b;
  text-align: center;
  margin: 54px auto 130px;
  padding: 27px 0;
  border-radius: 5px;
  -webkit-box-shadow: 2px 5px 0 #555;
          box-shadow: 2px 5px 0 #555;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.purple-content .purple-content__button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #643a79;
  -webkit-box-shadow: 1px 2px 0 #555;
          box-shadow: 1px 2px 0 #555;
  -webkit-transition: all 2s ease 0s;
  -o-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.purple-content .purple-content__button a {
  color: #fff;
  font-weight: 500;
}

.contentbg2 {
  background-color: #17c2a4;
}

.green-content {
  max-width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 603px;
}
.green-content__title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 130px 0 0 0;
}
.green-content__text {
  font-size: 18px;
  line-height: 1.44;
  color: #fff;
  text-align: center;
  margin: 0 0 85px 0;
  opacity: 0.9;
}

.green-conten__line {
  height: 4px;
  width: 87px;
  background-color: #106656;
  border-radius: 2px;
  margin: 23px auto;
}

.vertical__body {
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 15px;
}
.vertical__body .vertical__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.vertical__body .vertical__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vertical__body .vertical__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vertical__body .vertical__image img {
  display: block;
  margin: 0 auto;
}
.vertical__body .vertical__title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 30px 0;
}
.vertical__body .vertical__text {
  font-size: 16px;
  text-align: center;
  color: #fff;
  opacity: 0.9;
  margin: 0 0 128px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}